<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="/static/scan.js"></script>
        <link rel="stylesheet" href="/static/style.css" />
        <title>Scan</title>
    </head>
    <body background="/static/background.jpg">
    <div id="centerDiv">
        <div id="centerDivLoading">
            <h1>Loading...</h1>
        </div>
        <div id="centerDivError">
            <h1>An error has occurred</h1>
        </div>
        <div id="centerDivContent">
            <h2 id="code_find">You have found [ type_name ] (#[ created_number ]/[ total_amount ])</h2>
            <h2>This code has been scanned</h2>
            <h1 id="code_scans">[ code_uses ]</h1>
            <h2>times in the past</h2>
            <h3 id="new_code_scans"><i>You were the [ new_code_uses ] one</i></h3>
            <h3 id="user_stats">You have found a total of [ total_scans ] codes</h3>
            <h4 id="links"><a id="code_more_info">More detailed code data</a> | <a id="leaderboards">View leaderboards</a></h4>
            <h4>Gnome 2.x is under development! See a list of the new planned changes here: <a href="{{ url_for('index_page') }}">Planned changes</a></h4>
            <div id="username_change">
                <h4>You have not yet set a username, set one here to appear on leaderboards</h4>
                <input type="text" id="username">
                <button type="button" onclick="changeUsername()">submit</button>
            </div>
            <div id="sign_in_confirmation">
                <h3 id="sign_in_text">You are signed in as <a id="sign_in_link" title="Your profile">[ username ]</a></h3>
            </div>
        </div>
    </div>
    </body>
</html>