<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="/static/scan.js"></script>
        <link rel="stylesheet" href="/static/style.css" />
        <title>Title</title>
    </head>
    <body background="/static/background.jpg">
    <div class="centerDiv">
        <h2>This qr code has been scanned</h2>
        <h1 id="code_scans">-</h1>
        <h2>times in the past</h2>
        <h4>You're the 1st one</h4>
        <h1>also gnome</h1>
    </div>
    </body>
</html>