#centerDiv {
    width: 90%;
    height: 90%;
    position: fixed;
    background-color: #33312E;
    top: 5%;
    left: 5%;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
}

#centerDiv > * {
    margin: 30px;
}

#centerDivContent {
    display:none;
}

#centerDivError {
    display:none;
}

#code_scans {
    font-size:50px;
}

#username_change {
    display:none;
}

#sign_in_confirmation {
    display:none;
    position: absolute;
    bottom: 0;
}

a:link {
    color: #cc0300;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: #e0e0e2;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #f42a27;
    background-color: black;
    text-decoration: underline;
}

table, th, td {
    border: 3px solid #cc0300;
    border-collapse: collapse;
}

table tr:nth-child(even) {
  background-color: #e0e0e2;
}

table tr:nth-child(odd) {
 background-color: #f98918;
}

table th {
  background-color: #e0e0e2;
}

th, td {
    padding: 15px;
}

th {
    text-align: left;
}

table {
    border-spacing: 5px;
}

table.center {
  margin-left:auto;
  margin-right:auto;
}

#center_tables {
    display: flex;
    justify-content: center;

}

#center_tables.td {
    color: white;
}

#text {
    color:#d31410;
}