#centerDiv {
    width: 90%;
    height: 90%;
    position: fixed;
    background-color: #ffffff;
    top: 5%;
    left: 5%;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
}

#centerDiv > * {
    margin: 30px;
}

#centerDivContent {
    display:none;
}

#centerDivError {
    display:none;
}

#code_scans {
    font-size:50px;
}

#username_change {
    display:none;
}

#sign_in_confirmation {
    display:none;
    position: absolute;
    bottom: 0;
}

a:link {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}