<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backup/Restore account</title>
    <link rel="stylesheet" href="/static/style.css"/>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="614231557062-6hp004odltg45p9v52qtm7kb63s1umtm.apps.googleusercontent.com">
    <script src="/static/gauth.js"></script>
</head>
<body>
    <div style="text-align:center;">
        <h1>Backup/Restore account</h1>
        <h4>You may sign in with google in order to back up your account and later sign in again to restore it in the case that you lose your account or move to a new device</h4>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
</body>
</html>