<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>id change</title>
</head>
<body>
    <h2>Your current private id: </h2>
    <h2 id="current_id"></h2>
    <h3>private id</h3>
    <input type="text" id="private_id">
    <button type="button" onclick="changeId()">Change id</button><br>
    <h3 id="status"></h3>
    <script>
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires="+d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
           }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                 c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
                }
            }
            return undefined;
        }
        document.getElementById("current_id").innerHTML = getCookie("user_id");
        function changeId() {
            var private_id = document.getElementById("private_id").value;
            const Http = new XMLHttpRequest();
            Http.open("POST", "/changeid");
            Http.setRequestHeader("id", document.getElementById("private_id").value);
            Http.send();
            Http.onloadend = (e) => {
                var response = JSON.parse(Http.responseText);
                console.log(response);
                if (Http.status == 200){
                    setCookie("user_id", response["id"], 1825);
                    setCookie("user_id_public", response["public_id"], 1825);
                    document.getElementById("status").innerHTML = "Success, your id has been changed";
                } else {
                    document.getElementById("status").innerHTML = "An error has occurred, are you sure you typed that in correctly?";
                }
            }
        }
    </script>
</body>
</html>