<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/moment.js"></script>
    <title>Code stats</title>
</head>
<body>
    <h2 style="text-align: center;">Gnome {{ code_data["make"] }}/{{ amount_created }}</h2>
    {% if len(code_data["scans_data"]) == 0 %}
        <h4 style="text-align: center;">No scans yet :(, pwease find me i'm a lonely gnome</h4>
    {% else %}
        <h4 style="text-align: center;">{{ len(code_data["scans_data"]) }} scans, discovered by {{ code_data["scans_data"][0]["user"] }}</h4>
        <div class="centerContent">
            <table class="table table-hover">
                <thead><tr><th>Scan #</th><th>User</th><th>Time</th></tr></thead>
                {% for i, scan in reversed(list(enumerate(code_data["scans_data"]))) %}
                    {% if scan["user"] == accessing_username %}
                        <tr class="table-primary">
                    {% else %}
                        <tr>
                    {% endif %}
                    <td>{{ i+1 }}</td>
                    <td>{{ scan["user"] }}</td>
                    <td class="con_time" >{{ scan["time"] }}</td>
                {% endfor %}
            </table>
        </div>
        <script src="/static/code.js"></script>
    {% endif %}
</body>
</html>