<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body style="text-align:center;">
        <h1>Gnome 2.x under development</h1>
        <h3>Will have new features such as:</h3>
        <ul>
            <li>A marginally less shit user interface</li>
            <li>A way of backing up your account so you don't occasionally lose your progress</li>
            <li>Different rarities of gnomes that give more/less points</li>
            <li>Seasons that have an absolute winner at the end (possibly with physical prizes and top notch hand made trophies)</li>
            <li>And maybe more, depends on how bored I get</li>
        </ul>
        <h3>All printing of new gnomes will stop until the release of 2.x</h3>
    </body>
</html>