<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <img src="/static/images/Noggin_banner_enhanced.jpg" alt="super epic gnome banner"  style="width: 100%; height: 200px">
    <div>
        <h2>What is this??</h2>
        <p>This is a physical game that encourages people to go on a hunt for gnomes printed on receipt paper
        that started at southwest high school. There is a <a href="{# {{ url_for('leaderboard_page') }} #}">leaderboard</a>
        to motivate people to find the most gnomes and compete with each other. So go out and find a gnome so you can
        brag to your friends that you have more gnomes then they do making them losers and then ditch them because no
        one wants loser friends.</p>
    </div>
</body>
</html>