<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboards</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body style="text-align:center;">
    <h1>Top scan counts for {{ type }}</h1>
    <div id="center_tables">
        <table>
            <thead><tr><th>place</th><th>User</th><th>Scans</th></tr></thead>
            {% for i, userdata in enumerate(tops) %}
                <tr>
                    <td>{{ i+1 }}</td>
                    <td><a href="{{ url_for('profile_page', public_id=userdata['public_id']) }}">{{ userdata["username"] }}</a></td>
                    <td>{{ userdata["visits_counts"][type]["visits"] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>