<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body style="text-align:center;">
    <h1>{{ username }}</h1>
    <h2>{{ visits }} code finds</h2>
    <h3>Joined on {{ join_date }}</h3>
    <div id="center_tables">
        <div>
            <h4>Scan counts by type:</h4>
            <table>
                <thead><tr><th>Type</th><th>Scans</th><th>First scans</th></tr></thead>
                {% for i in visits_data %}
                    <tr>
                        <td><a href="{{ url_for('leaderboards_page', type=i) }}">{{ i }}</a></td>
                        <td>{{ visits_data[i]["visits"] }}</td>
                        {% if visits_data[i]["unique_visits"] %}
                            <td>{{ visits_data[i]["unique_visits"] }}</td>
                        {% else %}
                            <td> - </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div>
            <h4>Code scan history:</h4>
            <table>
                <thead><tr><th>Id</th><th>Time</th><th>Visit number</th><th>type</th></tr></thead>
                {% for i in code_data %}
                    <tr>
                        <td><a href="{{ url_for('code_page', code=code_data[i]['public_id']) }}">{{ code_data[i]["public_id"] }}</a></td>
                        <td>{{ timestamp(code_data[i]["time"]).strftime('%Y/%m/%d %I:%M:%S %p') }}</td>
                        <td>{{ code_data[i]["visit_num"] }}</td>
                        <td><a href="{{ url_for('leaderboards_page', type=code_data[i]['type']) }}">{{ code_data[i]["type"] }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>