<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redirecting...</title>
</head>
<body>
    <h1>Loading...</h1>
    <script>
        function getCookie(cname) {
          var name = cname + "=";
          var ca = document.cookie.split(';');
          for(var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
              c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
              return c.substring(name.length, c.length);
            }
          }
          return undefined;
        }
        var user_id_public = getCookie("user_id_public");
        if (user_id_public != undefined) {
            window.location.replace("/profile/" + user_id_public);
        } else {
            window.location.replace("/");
        }
    </script>
</body>
</html>